@use '@angular/material' as mat;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.914); // #ff4d4d;
  color: #d9534f;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 8px;
  top: 71%;
  left: 24%;
  z-index: 1001;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 24px;
  border-radius: 10px;
  width: 481px;
  height: 356px;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
}

label {
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 12px;
  margin-top: 28px;
}

.modal h2 {
  font-size: 32px;
  color: #155e75;
  margin-bottom: 15px;
  padding-top: 10px;
}

input[type='text'] {
  width: calc(100% - 20px);
  height: 46px;
  font-size: 16px;
  border: 1px solid #0891b2;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 15px;
}

.color-picker {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 4px;
}

.color-picker div {
  width: 28px;
  height: 28px;
  border-radius: 5px;

  transition: transform 0.2s ease-in-out;
}

.color-picker .selected {
  border: 1px solid #0891b2;
}

.buttons {
  display: flex;
  padding-top: 40px;
  justify-content: right;
  gap: 10px;
}

button {
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  align-content: center;
  width: 75px;
  height: 28px;
  cursor: pointer;
  border: 1px solid #0891b2;
  padding-left: 10px;
}

.cancel {
  background: white;
  color: #0891b2;
}

.create {
  background: #0891b2;
  color: white;
}

// .cancel:hover {
//   background: #0891b2;
//   color: white;
// }

.close-btn {
  position: absolute;
  top: 10px;
  right: 7px;
  color: #0a4d64;
  font-size: 28px;
  border: none;
  background: none;
  cursor: pointer;
  width: 70px;
}
