<div class="view">
  <div style="margin: 1em">
    <app-breadcrumb />
  </div>
  <div class="catalog">
    <app-catalog-tool-bar
      [selectValues]="diagnoses"
      [(showAsTiles)]="showAsTiles"
      [(textSearch)]="systemNameSearch"
      [(selectedIdFilter)]="diagnosisFilter"
      [(itemSorting)]="itemSorting" />
    <div class="item-grid">
      <app-catalog-grid
        [staticIconEndpoint]="staticIconEndpoint"
        [showAsTiles]="showAsTiles"
        [itemsData]="filteredSystems()"
        [toRoute]="toRoute"
        [idLabel]="idLabel" />
    </div>
  </div>
</div>
