// TODO fix CSS
button.app-button {
  width: 100%;

  span {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

button:hover {
  // TODO Change to accent
  background-color: #155e75;
}
