<div class="form-component">
  <form
    [formGroup]="formGroup"
    (submit)="onSubmit()"
    *ngIf="state !== 'success'">
    <app-input
      class="form-input"
      *ngFor="let input of config.inputs"
      [input]="input"
      [formGroup]="formGroup" />
    <ng-content select="[underInput]" />
    <div>
      <app-button class="form-button" type="submit" [state]="getButtonState()">
        {{ config.submitText | async }}
      </app-button>
      <mat-error *ngIf="errorMsg">
        {{ errorMsg() }}
      </mat-error>
    </div>
    <ng-content select="[underSubmit]" />
    <app-form-notification />
  </form>
</div>
