<app-auth-page-layout
  *transloco="let t; read: 'auth.requestChangePassword'"
  [title]="t('title')">
  <app-form
    [doSubmit]="doVerificationEmail"
    [config]="formCfg"
    *ngIf="!requestSuccessful">
    <app-anchor underSubmit [to]="AppRoutes.auth.login" noUnderline>
      <img src="assets/backArrow.svg" alt="Back Arrow" style="height: 14px" />
      {{ t('backToLogin.link') }}
    </app-anchor>
  </app-form>
  <div *ngIf="requestSuccessful">
    <h2>{{ t('form.success.title') }}</h2>
    <p>{{ t('form.success.instructions.text') }}</p>
    <app-anchor [to]="AppRoutes.auth.login" noUnderline>
      <img src="assets/backArrow.svg" alt="Back Arrow" style="height: 14px" />
      {{ t('backToLogin.link') }}
    </app-anchor>
  </div>
</app-auth-page-layout>
