<!-- I know this file might seem useless, but it is required for builder.Logging.AddLog4Net() call. Actual configuration is done programmatically.
If you'd like to get rid of this file, you would have to do what AddLog4Net() does in the background. Otherwise ASPNET will not use log4net. -->
<log4net xmlns="schema URL">
  <root>
  </root>
</log4net>
